<div class='well span8'>

<blockquote>
  <p>
    "<%= comment.body %>"
    <% if show_post_link %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
  </p>
  <%= render '/shared/post_info', post: comment %>
</blockquote>  

</div>