<% votes = post.votes %>
<% user_vote = votes.where(creator: current_user).first if logged_in? %>

<span id='<%= post.class.name %>_<%= post.id %>_votes'>
<% if user_vote %>
  <% if votes.size == 1 %>
    You liked this.
  <% else %>
    You and <%= pluralize(votes.size - 1, 'person') %> liked this.
  <% end %>
  
<% else %>
  <% if votes.any? %>
    <%= pluralize(votes.size, 'person') %> liked this.
  <% end %>
<% end %>
</span>